body{
    font-family: 'Poppins', sans-serif; 
    margin: 0;
}

h1{font-size: 50px;}
.spancl{
    color: brown;
}

.sc-class{
    display: flex;
    margin-bottom: 150px;}

.half-test{
    width: 50%;
    padding-left: 10%;
}
.half-test img{
    width: 80%;
}

.link-botton{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color:white;
    border-radius: 10px;
    font-weight: 700px;
}
.top-bannar{
    background-image: url(tpic/top-banner.png);
background-repeat: no-repeat;
}

.top-bannar2{
    background-image: url(tpic/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}



.ex-area{
    background-image: url(tpic/exp-bg.png);
    background-repeat: no-repeat;
}
.ex-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgb(97, 175, 97);
    border-left: 10px solid;
}
#full{
    border-left: 7px solid;
   border-image: linear-gradient(blue red);
    border-image-slice: 1;
}
#baby{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(196, 169, 16) rgb(0, 195, 255));
     border-image-slice: 1;  
}
footer{
    text-align: center;
}